
.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
    list-style: none;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(227 74 56);;
}

.ht{
    line-height: 2;
}

.btn{
    padding:7px 12px;
    border: 2px solid rgb(249, 90, 72);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(249, 90, 72);
}

.overflow-x-hidden{
    background-color: black;
    overflow-x: hidden;
    color: aliceblue;
}

.text-center{
    text-align: center;
}

/* Responsive adjustments */

@media only screen and (max-width: 768px) {
    .flex {
      flex-wrap: wrap;
    }
    
    .justify-between {
      justify-content: center;
    }
    
    .btn {
      padding: 5px 10px;
      font-size: 0.8rem;
    }
    
    .px-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .my-1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    .my-2 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .flex {
      flex-direction: column;
    }
    
    .btn {
      padding: 3px 8px;
      font-size: 0.6rem;
    }
    
    .px-2 {
      padding-left: 8px;
      padding-right: 8px;
    }
    
    .my-1 {
      margin-top: 8px;
      margin-bottom: 8px;
    }
    
    .my-2 {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }